*
/*Background Format*/

html, body
{
	margin: 0 0;
	min-height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background: linear-gradient(rgba(17,17,17,0.9), rgba(17,17,17,0.9)) , url(../images/background.jpg) no-repeat;
}

/*Navigation Bar*/

header
{
	height: 80px;
}

.navBar
{
	max-width: 1400px;
	margin: 0 auto;
}

.navButtons
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.navButtons li
{
	display: inline-block;
}

.navButtons li a
{
	color: white;
	text-decoration: none;
	padding: 5px 30px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.navButtons li.active a::after
{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: white;
}

.navButtons li.inactive a::after
{
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width .5s;
}

.navButtons li.inactive a:hover::after
{
	width: 100%;
	transition: width .5s;
}

/*Logo*/

.logo img
{
	margin-top: 16px;
	width: 125px;
	height: auto;
	float: left;
}

/*Content*/

.container
{
    height: 100%;
    margin-bottom: -35px;
}

.content
{
    vertical-align: top;
	max-width: 1400px;
	min-height: 88vh;
    margin-bottom: -28px;
	margin: 5px auto;
	text-align: center;
	background-color: rgba(17,17,17,0.7);
    border-radius: 5px 5px;
}

.video
{
	margin: auto;
	border: 3px solid red;
}

/* Footer */

Footer
{
    display: inline-block;
    bottom: 0;
    height: 2vh;
    text-align: center;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.footer
{
    text-align: center;
}

/* Index Content */
.h1 {
    padding: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.article {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}
